<!DOCTYPE html>
<html lang="en">


<%- include('partials/header.ejs') %>

<body>

    <form action="POST" action="/users/register">
        <label for="">Nombre</label>
        <input type="text" name="nombre">
        <p>Hobbies</p>
        <% for(let i = 0; i < 10; i++) { %>
            <label for="">Hobbie <%= i %></label>
            <% if (i % 2 == 0) { %>
            <input class="par" type="text" name="hobbies[]">
        <% } else { %>
            <input class="impar" type="text" name="hobbies[]">
            <% } %>
            <br>
        <% } %>
    </form>

    <h3>Agregar producto </h3>


    <main class="agregar">
        <div class="container-agregar">
            <form action="/" method="POST">

                <div class="productonuevo">
                    <h4>Elegí tu foto de usuario</h4>
                <input type="file" name="avatar">
                    <article>"nombre del producto"</article>
                    <input type="text" name="user" placeholder="categoria">
                    <h3 class="h3-producto">Precio</h3>
                    <i class="fa-solid fa-basket-shopping"></i>
                    <div class="botonagregar">
                        <input type="submit" value="agregar">
                        <input type="reset" value="Borrar">
                    </div>
                </div>
            </form>
        </div>
    </main>



</body>



<%- include('partials/footer.ejs') %>

</html>