<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/7f31ea2864.js" crossorigin="anonymous"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <title>Tentó</title>
</head>

<%- include('partials/header.ejs') %>
<body>

    <h3>Mis Compras</h3>

    <main class="registercompras">
        <div class="container-miscompras">
            <form action="/" method="POST">
                <input class="textInput" type="text" name="name" placeholder="Nombre y apellido">
                <input class="textInput" type="text" name="user" placeholder="Nombre de usuario">
                <input class="textInput" type="email" name="email" placeholder="E-mail">
                <input class="textInput" type="password" name="contraseña" placeholder="Contraseña">
                <input class="textInput" type="text" name="addres" placeholder="Domicilio"><br>
                <div class="medios">
                    <h4>Medios de pago</h4>
                    <div class="profile">
                        <div>
                            <input type="radio" id="efectivo" name="Pago" value="efectivo">
                            <label for="efectivo"> Efectivo</label>
                        </div>
                        <div>
                            <input type="radio" id="mercadoPago" name="pago" value="Mercado Pago">
                            <label for="mercadopago"> Mercado Pago</label>
                        </div>
                    </div>
                </div> <br><br>
                <div class="botonera">
                    <input type="submit" value="Confirmar">
                    <input type="reset" value="Borrar">
                </div>
            </form>
        </div>
        <div></div>

        <div></div>

        <div></div>

    </main>
</body>
<%- include('partials/footer.ejs') %>


</html>