<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>
    <%- include('partials/header.ejs') %>
<body>

    <h3>Inicio</h3><br><br>



    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/P1110019.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/P1110019.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/P1110019.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>




    <div class="fotoalmedio">
        <img primerafoto text-align="center" src="/images/P1100984.jpg" alt="" height="75%" width="75%">
    </div>
    <br>
    <div class="fotoalmedio">
        <h2 text-align="center">¿Que te tentó?</h2>
        <br>
        <a href="producto"><img text-align="center" src="/images/P1110019.jpg" alt="" height="75%" width="75%"></a>
        <a href="productostortas"><img text-align="center" src="/images/fotoProductoPagInicio.jpeg" alt="" height="75%"
                width="75%"></a>
    </div>
</body>

<%- include('partials/footer.ejs') %>

</html>