<!DOCTYPE html>
<html lang="en">

<%- include('partials/header.ejs') %>
<body>

    <h3>Inicio</h3><br><br>

    <div class="fotoalmedio">
        <img primerafoto text-align="center" src="/images/P1100984.jpg" alt="" height="75%" width="75%">
    </div>
    <br>
    <div class="fotoalmedio">
        <h2 text-align="center">¿Que te tentó?</h2>
        <br>
        <a href="producto"><img text-align="center" src="/images/P1110019.jpg" alt="" height="75%" width="75%"></a>
        <a href="productostortas"><img text-align="center" src="/images/fotoProductoPagInicio.jpeg" alt="" height="75%"
                width="75%"></a>
    </div>
</body>

<%- include('partials/footer.ejs') %>

</html>