<!DOCTYPE html>
<html lang="en">

<%- include('partials/header.ejs') %>

<body>

    <h3>Ingresar</h3>

    <main class="login">
        <div class="container-login">
            <form action="/" method="POST">
                <input type="text" name="user" placeholder="Nombre de usuario">
                <input type="password" name="pass" placeholder="Contraseña">

                <input type="submit" value="Enviar">
            </form>
        </div>
    </main>

</body>
<%- include('partials/footer.ejs') %>

</html>