<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/7f31ea2864.js" crossorigin="anonymous"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <title>Tentó</title>
</head>

<%- include('partials/header.ejs') %>


<body>
    <h3>Pasteleria</h3><br><br>


    <div class="contenedor">
        <div class="producto-chocolate">
            <img class="images-row" src="images/fotoProducto4.jpg" alt="photos">
            <article>Torta Decorada con Macarones</article>
            <h3 class="h3-producto">$8.000</h3>
            <i class="fa-solid fa-basket-shopping"></i>
            <div class="botonera">
                <input type="submit" value="Comprar">
            </div>
        </div>

        <div class="producto-chocolate">
            <img class="images-row" src="images/fotoProducto11.jpg" alt="photos">
            <article>Torta Decorada Personalizada</article>
            <h3 class="h3-producto">$8.000</h3>
            <i class="fa-solid fa-basket-shopping"></i>
            <div class="botonera">
                <input type="submit" value="Comprar">
            </div>
        </div>

        <div class="producto-chocolate">
            <img class="images-row" src="images/fotoProducto17.jpeg" alt="photos">
            <article>Torta decorada para Casamiento</article>
            <h3 class="h3-producto">$10.000</h3>
            <i class="fa-solid fa-basket-shopping"></i>
            <div class="botonera">
                <input type="submit" value="Comprar">
            </div>
        </div>

        <div class="producto-chocolate">
            <img class="images-row" src="images/fotoProducto3.jpg" alt="photos">
            <article>Torta decorada Personalizada</article>
            <h3 class="h3-producto">$8.000</h3>
            <i class="fa-solid fa-basket-shopping"></i>
            <div class="botonera">
                <input type="submit" value="Comprar">
            </div>
        </div>

        <div class="producto-chocolate">

            <a href="\descproducto"><img class="images-row" src="images/fotoProducto1.jpg" alt="photos"></a>
            <article>Mousse de Mix de Chocolates</article>
            <h3 class="h3-producto">$8.000</h3>
            <i class="fa-solid fa-basket-shopping"></i>
            <div class="botonera">
                <input type="submit" value="Comprar">
            </div>
        </div>

        </article>

        <div class="producto-chocolate">
            <img class="images-row" src="images/fotoProducto2.jpg" alt="photos">
            <article>Lemon Pie</article>
            <h3 class="h3-producto">$3.000</h3>
            <i class="fa-solid fa-basket-shopping"></i>
            <div class="botonera">
                <input type="submit" value="Comprar">
            </div>
        </div>

        <div class="producto-chocolate">
            <img class="images-row" src="images/fotoProducto13.jpg" alt="photos">
            <article>Selva Negra</article>
            <h3 class="h3-producto">$4.000</h3>
            <i class="fa-solid fa-basket-shopping"></i>
            <div class="botonera">
                <input type="submit" value="Comprar">
            </div>
        </div>

        <div class="producto-chocolate">
            <img class="images-row" src="images/fotoProducto10.jpg" alt="photos">
            <article>Torta de vainilla</article>
            <h3 class="h3-producto">$5.000</h3>
            <i class="fa-solid fa-basket-shopping"></i>
            <div class="botonera">
                <input type="submit" value="Comprar">
            </div>
        </div>

        <div class="producto-chocolate">
            <img class="images-row" src="images/fotoProducto5.jpg" alt="photos">
            <article>Mousse de Frutos del Bosque</article>
            <h3 class="h3-producto">$5.000</h3>
            <i class="fa-solid fa-basket-shopping"></i>
            <div class="botonera">
                <input type="submit" value="Comprar">
            </div>
        </div>

        <div class="producto-chocolate">
            <img class="images-row" src="images/fotoProducto6.jpg" alt="photos">
            <article>Macarones</article>
            <h3 class="h3-producto">$3.000</h3>
            <i class="fa-solid fa-basket-shopping"></i>
            <div class="botonera">
                <input type="submit" value="Comprar">
            </div>
        </div>

        <div class="producto-chocolate">
            <img class="images-row" src="images/fotoProducto7.jpg" alt="photos">
            <article>Super Chocolate</article>
            <h3 class="h3-producto">$8.000</h3>
            <i class="fa-solid fa-basket-shopping"></i>
            <div class="botonera">
                <input type="submit" value="Comprar">
            </div>
        </div>
        <div class="producto-chocolate">
            <img class="images-row" src="images/fotoProducto14.jpg" alt="photos">
            <article>Tarta de frutillas</article>
            <h3 class="h3-producto">$5.000</h3>
            <i class="fa-solid fa-basket-shopping"></i>
            <div class="botonera">
                <input type="submit" value="Comprar">
            </div>
        </div>

    </div>

    </div>
</body>
<%- include('partials/footer.ejs') %>


</html>