<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/7f31ea2864.js" crossorigin="anonymous"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <title>Tentó</title>
</head>

<header>
    <nav>
        <a href="/index">Inicio</a>
        <a href="/registro">Registrate</a>
        <a href="/login">Acceder</a>
        <a href="/producto">Chocolates</a>
        <a href="/productostortas">Pasteleria</a>
        <a href="/compras">Mis Compras</a>
        <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
    </nav>
    <section class="textos-header">
        <h1>tentó</h1>
    </section>
    <div class="wave" style="height: 400px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #d0ab7a;"></path>
        </svg></div>
    </header>

<body>
    <h3>Pasteleria</h3><br><br> 


<div class="contenedor">
    <div class="producto-chocolate">
        <img class="images-row" src="images/fotoProducto4.jpg" alt="photos">
        <article>Torta Decorada con Macarones</article>
        <h3 class="h3-producto">$8.000</h3>
        <i class="fa-solid fa-basket-shopping"></i>
    </div>

    <div class="producto-chocolate">
        <img class="images-row" src="images/fotoProducto11.jpg" alt="photos">
        <article>Torta Decorada Personalizada</article>
        <h3 class="h3-producto">$8.000</h3>
        <i class="fa-solid fa-basket-shopping"></i>
    </div>

    <div class="producto-chocolate">
        <img class="images-row" src="images/fotoProducto17.jpeg" alt="photos">
        <article>Torta decorada para Casamiento</article>
        <h3 class="h3-producto">$10.000</h3>
        <i class="fa-solid fa-basket-shopping"></i>
    </div>

    <div class="producto-chocolate">
        <img class="images-row" src="images/fotoProducto3.jpg" alt="photos">
        <article>Torta decorada Personalizada</article>
        <h3 class="h3-producto">$8.000</h3>
        <i class="fa-solid fa-basket-shopping"></i>
    </div>

    <div class="producto-chocolate">
       
        <a href="descproducto"><img class="images-row" src="images/fotoProducto1.jpg" alt="photos"></a>
        <article>Mousse de Mix de Chocolates</article>
        <h3 class="h3-producto">$8.000</h3>
        <i class="fa-solid fa-basket-shopping"></i>
    
    </div>

    </article>

    <div class="producto-chocolate">
        <img class="images-row" src="images/fotoProducto2.jpg" alt="photos">
        <article>Lemon Pie</article>
        <h3 class="h3-producto">$3.000</h3>
        <i class="fa-solid fa-basket-shopping"></i>
    </div>

    <div class="producto-chocolate">
        <img class="images-row" src="images/fotoProducto13.jpg" alt="photos">
        <article>Selva Negra</article>
        <h3 class="h3-producto">$4.000</h3>
        <i class="fa-solid fa-basket-shopping"></i>
    </div>

    <div class="producto-chocolate">
        <img class="images-row" src="images/fotoProducto10.jpg" alt="photos">
        <article>Torta de vainilla</article>
        <h3 class="h3-producto">$5.000</h3>
        <i class="fa-solid fa-basket-shopping"></i>
    </div>

    <div class="producto-chocolate">
        <img class="images-row" src="images/fotoProducto5.jpg" alt="photos">
        <article>Mousse de Frutos del Bosque</article>
        <h3 class="h3-producto">$5.000</h3>
        <i class="fa-solid fa-basket-shopping"></i>
    </div>

<div class="producto-chocolate">
        <img class="images-row" src="images/fotoProducto6.jpg" alt="photos">
        <article>Macarones</article>
        <h3 class="h3-producto">$3.000</h3>
        <i class="fa-solid fa-basket-shopping"></i>
    </div>

<div class="producto-chocolate">
        <img class="images-row" src="images/fotoProducto7.jpg" alt="photos">
        <article>Super Chocolate</article>
        <h3 class="h3-producto">$8.000</h3>
        <i class="fa-solid fa-basket-shopping"></i>
    </div>
    <div class="producto-chocolate">
        <img class="images-row" src="images/fotoProducto14.jpg" alt="photos">
        <article>Tarta de frutillas</article>
        <h3 class="h3-producto">$5.000</h3>
        <i class="fa-solid fa-basket-shopping"></i>
    </div>

</div>

</div>
</body>



        <footer>
            <div class="redessociales">

                <a href="https://www.facebook.com/tento.chocolates" target="_blank"><img primerafoto text-align="center" src="/images/facebook.png" alt="" height="25px" width="25px"></a> 
                <a href="https://www.instagram.com/tento.chocolates/" target="_blank"><img primerafoto text-align="center" src="/images/instagram.png" alt="" height="25px" width="25px"></a>
                <a href="https://api.whatsapp.com/send?phone=541131663482" target="_blank"><img primerafoto text-align="center" src="/images/whatsapp.png" alt="" height="25px" width="25px"></a>
    </div>
    <section>
        <p class = "footer2">Politica de calidad</p>
        <p class = "footer2">Bases y condiciones</p>
        <p class = "footer2">Preguntas frecuentes</p>
        <p class="powered">powered by grupo 7</p>
    </section>
        </footer>
</html>
