<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/7f31ea2864.js" crossorigin="anonymous"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <title>Tentó</title>
</head>

<header>
    <nav>
        <a href="/index">Inicio</a>
        <a href="/registro">Registrate</a>
        <a href="/login">Acceder</a>
        <a href="/producto">Chocolates</a>
        <a href="/productostortas">Pasteleria</a>
        <a href="/compras">Mis Compras</a>
        <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
    </nav>
    <section class="textos-header">
        <h1>tentó</h1>
    </section>
    <div class="wave" style="height: 400px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #d0ab7a;"></path>
        </svg></div>
    </header>

<body>
    <h3>Pasteleria</h3><br><br> 

    <div class="grid-container">

<article class="productos"><br>
    <img src="images/fotoProducto4.jpg" alt="chocolate" class="product_img"></a>
    <div class="main-article">
        <i class="fa-solid fa-basket-shopping"></i>
        <p class="price">$8.000</p>
        <p class="discount>">15% off</p>
        <h4 class="description">Torta Decorada con Macarones</h4>
    </div>
    </article>
    <article class="productos"><br>
        <img src="images/fotoProducto11.jpg" alt="chocolate" class="product_img">
        <div class="main-article">
            <i class="fa-solid fa-basket-shopping"></i>
            <p class="price">$8.000</p>
            <p class="discount>">10% off</p>
            <h4 class="description">Torta Decorada Personalizada</h4>
        </div>
    </article>
    <article class="productos"><br>
        <img src="images/fotoProducto17.jpeg" alt="chocolate" class="product_img">
        <div class="main-article">
            <i class="fa-solid fa-basket-shopping"></i>
            <p class="price">$10.000</p>
            <p class="discount>">10% off</p>
            <h4 class="description">Torta Decorada para Casamiento</h4>
        </div>
    </article>
    <article class="productos"><br>
        <img src="/images/fotoProducto3.jpg" alt="chocolate" class="product_img">
        <div class="main-article">
            <i class="fa-solid fa-basket-shopping"></i>
            <p class="price">$8.000</p>
            <p class="discount>">10% off</p>
            <h4 class="description">Torta Decorada Personalizada</h4>
        </div>
    </article>
    <article class="productos"><br>
        <a href="descproducto"><img src="images/fotoProducto1.jpg" alt="chocolate" class="product_img"></a>

        <div class="main-article">
            <i class="fa-solid fa-basket-shopping"></i>
            <p class="price">$6.770</p>
            <p class="discount">10% off</p>
            <h4 class="description">Mousse de MIX de Chocolates</h4>
        </div>
        </article>
        <article class="productos"><br>
            <img src="images/fotoProducto2.jpg" alt="chocolate" class="product_img">
            <div class="main-article">
                <i class="fa-solid fa-basket-shopping"></i>
                <p class="price">$1.800</p>
                <p class="discount">20% off</p>
                <h4 class="description">Lemon Pie</h4>
            </div>
        </article>
        <article class="productos"><br>
            <img src="images/fotoProducto13.jpg" alt="chocolate" class="product_img">
            <div class="main-article">
                <i class="fa-solid fa-basket-shopping"></i>
                <p class="price">$4.000</p>
                <p class="discount">10% off</p>
                <h4 class="description"> Selva Negra</h4>
            </div>
        </article>
        <article class="productos"><br>
            <img src="/images/fotoProducto10.jpg" alt="chocolate" class="product_img">
            <div class="main-article">
                <i class="fa-solid fa-basket-shopping"></i>
                <p class="price">$4.800</p>
                <p class="discount">10% off</p>
                <h4 class="description">Torta de Vainilla</h4>
            </div>
        </article>
        <article class="productos"><br>
            <img src="/images/fotoProducto5.jpg" alt="chocolate" class="product_img">
            <div class="main-article">
                <i class="fa-solid fa-basket-shopping"></i>
                <p class="price">$3.700</p>
                <p class="discount">10 off</p>
                <h4 class="description">Mousse de Frutos Rojos</h4>
            </div>
        </article>
        <article class="productos"><br>
                <img src="/images/fotoProducto6.jpg" alt="confite" class="product_img">
                <div class="main-article">
                    <i class="fa-solid fa-basket-shopping"></i>
                    <p class="price">$1.800</p>
                    <p class="discount">20% off</p>
                    <h4 class="description">Macarones</h4>
            </div>
        </article>
        <article class="productos"><br>
                <img src="/images/fotoProducto7.jpg" alt="confite" class="product_img">
                <div class="main-article">
                    <i class="fa-solid fa-basket-shopping"></i>
                    <p class="price">$5.800</p>
                    <p class="discount">10% off</p>
                    <h4 class="description">Super chocolate</h4>
            </div>
        </article>
        <article class="productos"><br>
    <img src="/images/fotoProducto14.jpg" alt="confite" class="product_img">
    <div class="main-article">
        <i class="fa-solid fa-basket-shopping"></i>
        <p class="price">$4.000</p>
        <p class="discount">5% off</p>
        <h4 class="description">Tarta de frutillas</h4>
    </div>
</article>  

</div>

<div class="contenedor">
    <div class="producto-chocolate">
        <img class="images-row" src="images\chocolate1.JPG" alt="photos">
        <article>Bombones Dulce de Leche</article>
        <h3 class="h3-producto">tuvieja</h3>
        <i class="fa-solid fa-basket-shopping"></i>
    </div>

    <div class="producto-chocolate">
        <img class="images-row" src="images\chocolate2.JPG" alt="photos">
        <article>Bombones surtidos</article>
        <h3 class="h3-producto">tuvieja</h3>
        <i class="fa-solid fa-basket-shopping"></i>
    </div>

    <div class="producto-chocolate">
        <img class="images-row" src="images\chocolate3.JPG" alt="photos">
        <article>Bombones Macizos</article>
        <h3 class="h3-producto">tuvieja</h3>
        <i class="fa-solid fa-basket-shopping"></i>
    </div>

    <div class="producto-chocolate">
        <img class="images-row" src="images\alineateChe.JPEG" alt="photos">
        <article>Surtido de Bombones</article>
        <h3 class="h3-producto">tuvieja</h3>
        <i class="fa-solid fa-basket-shopping"></i>
    </div>

    <div class="producto-chocolate">
        <img class="images-row" src="images\chocolate6.JPG" alt="photos">
        <article>Bombones Rellenos</article>
        <h3 class="h3-producto">tuvieja</h3>
        <i class="fa-solid fa-basket-shopping"></i>
    </div>

    <div class="producto-chocolate">
        <img class="images-row" src="images\confite2.JPG" alt="photos">
        <article>Pasas de Una con Chocolate</article>
        <h3 class="h3-producto">tuvieja</h3>
        <i class="fa-solid fa-basket-shopping"></i>
    </div>

    <div class="producto-chocolate">
        <img class="images-row" src="images\confite3.JPG" alt="photos">
        <article>Almendras con Chocolate</article>
        <h3 class="h3-producto">tuvieja</h3>
        <i class="fa-solid fa-basket-shopping"></i>
    </div>

    <div class="producto-chocolate">
        <img class="images-row" src="images\confite4.JPG" alt="photos">
        <article>Mani con Chocolate</article>
        <h3 class="h3-producto">tuvieja</h3>
        <i class="fa-solid fa-basket-shopping"></i>
    </div>

</div>





</div>
</body>



        <footer>
            <div class="redessociales">

                <a href="https://www.facebook.com/tento.chocolates" target="_blank"><img primerafoto text-align="center" src="/images/facebook.png" alt="" height="25px" width="25px"></a> 
                <a href="https://www.instagram.com/tento.chocolates/" target="_blank"><img primerafoto text-align="center" src="/images/instagram.png" alt="" height="25px" width="25px"></a>
                <a href="https://api.whatsapp.com/send?phone=541131663482" target="_blank"><img primerafoto text-align="center" src="/images/whatsapp.png" alt="" height="25px" width="25px"></a>
    </div>
    <section>
        <p class = "footer2">Politica de calidad</p>
        <p class = "footer2">Bases y condiciones</p>
        <p class = "footer2">Preguntas frecuentes</p>
        <p class="powered">powered by grupo 7</p>
    </section>
        </footer>
</html>
