<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head.ejs') %>
  <%- include('partials/header.ejs') %>

<body>
  <h1>User List</h1>
  <ul>
   <% for (let i = 0; i < users.length; i++) { %>
    <li>
    <a href="/users/detail/<%= users[i].id %>"> <%= users[i].name %> </a>
    </li>
    <% } %>
  </ul>
  <h2>Search</h2>
  <form action ="/search" method="get">
    <input type="text" name="search">
    <input type="submit" name="search" value="buscar">
  </form>
</body>

</html>