* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Header */

header {
    width: 100%;
    height: 600px;
    background: #78451a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8e582c, #b88b5c), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8e582c, #b88b5c), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.fa-solid {
    font-size: 30px;
    }

nav{
    text-align: center;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 30px;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
}

nav > a:hover{
    text-decoration: underline;
    
}

header .textos-header{
    display: flex;
    height: 210px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}

.textos-header h1{
    font-size: 150px;
    color:#ffffff;
    font-family: 'Montserrat';
}

h3{
    font-size: 80px;
    text-align: center;
    color:#ffffff;
    font-family: 'Montserrat';
    margin-left: 20px}

.top-header {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.texto {
    font-size: 50px;
    font-family: 'Montserrat';
    color: #623307;
    }

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #623307;
    font-size: 40px;    
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.buscar {
    height: 35px;
    width: 100%;
    border-radius: 10px;
}

/* headerfin*/




/* footer*/
footer {
    background-color: #8e582c;
    color: white;
    align-items: bottom;
    margin-top: 120px;
}

.footer2 {
    font-size: 15px; 
}

.redessociales {
    text-align: right;
    margin-right: 30px;
    font-size: 40px;
    font-weight: bolder;
    color: black;
    }

.powered {
    text-align: center;
}
/*footer fin*/

body {
    background-color:#d0ab7a;
    font-family: 'Roboto', sans-serif;
}

/*INDEX*/
.grid-container-inicio{
    display: grid;
    gap: 20px;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
} /*header*/

.grid-container-inicio div {
    text-align: center;
    color: #FFF;
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}/*header*/

.fotoalmedio {
    align-items: flex;  
    align-items: center;
    text-align: center;
}
 /*INDEX FIN*/


/* formularios */
.login input /* LOGIN */,
.register input/*REGISTRO*/{
    width: 50%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px solid grey;
    border: 10px;
    align-self: center;
    }

/*BOTONES*/
.login input[type='submit']/* LOGIN */,
.register input[type='submit']/*REGISTRO*/{
    color: #FFF;
    background-color: #8e582c;  
    border-radius: 5px;
}

.login input[type='submit']:hover/* LOGIN */,
.register input[type='submit']:hover/*REGISTRO*/{
    background-color: green;
}

.register input[type='reset']/*REGISTRO*/{
    color: #FFF;
    background-color: #8e582c;
}

.register input[type='reset']:hover/*REGISTRO*/{
    background-color: red;
}
/*BOTONES*/
.container-registro,
.container-login{
    display: flex;
    text-align: center;
    border-radius: 3px;
    align-items: left;
    justify-content: center;
  } /*agregue ete contenedor para registro y login*/
 /*FORMUALRIOS FIN*/




/* compras*/

.medios {
    color: #623307;
    font-size: 25px;
    margin: auto;
    width: 50%;
} /*medios de pago en mis compras*/

    .medios label {
        font-size: 18px;
    }/*medios de pago en mis compras*/

.container-miscompras {
  display: flex;
  text-align: center;
  border-radius: 3px;
  align-items: left;
  justify-content: center;
  
} /*carrito-compras*/


.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    color: #623307
}/* dentro de medios en compras*/ 


.profile input, .profile label{
    width: auto;
    width: auto;
}/* dentro de medios en compras*/


.tablas-compras {

  border-collapse: separate;
  border-spacing: 10px 5px;
} /*carrito*/

.precio-col {
    display:inline-block;
    background-color:#f3f3f3;
    width:100%;
    max-width:500px;
    border-radius:10px;
    margin-bottom:50px;
    box-shadow: 0px 2px 5px #ddd
} /*tabla carrito*/

.items {
    justify-content: space-between;
}/*carrito productos tabla*/

.registercompras input.textInput/*COMPRAS */{
    width: 50%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px solid grey;
    border: 10px;
    align-self: center;
    }
/*BOTONES*/  
.registercompras input[type='submit']/*COMPRAS */{
    color: #FFF;
    background-color:#623307;  
    transition:all 450ms;
}

.registercompras input[type='submit']:hover/*COMPRAS*/{
    background-color:#8e582c;
    border-radius: 20%;
}

.registercompras input[type='reset']/*COMPRAs*/{
    color: #FFF;
    background-color: #623307;
    transition: all 450ms
}

.registercompras input[type='reset']:hover/*COMPRAS*/{
    background-color:#8e582c;
    border-radius: 20%;
}

.botonera {
    margin-top: 20px;
    color: #623307;

} 
 /*medios de pago en mis compras*/

        .botonera input {
            align-items: center;
            justify-content: space-between;
            font-size: 15px;
            color: #623307;
            padding: 10px 20px;
        } /*medios de pago en mis compras*/
/*BOTONES*/  

/*COMPRAS CARRITO FIN*/


/*descproducto*/
.imagenprod {
    width: 30%;
    float:left;
    position: right;
    padding: 3%    
}

h5 {
    display : flex;
    justify-content: right;
    flex-direction: column;
    width: 35%;
    font-size: 30px;
    font-family: "Monserrat";
    color:#623307;
    font-weight: bold;
}
.preciop {
    font-size: 25px;
    padding: 10px;
    margin: 10px;
    font-family: "Monserrat";
    color:#623307;
    font-weight: bold;
}

.descp {
    font-size: 25px;
    padding: 15px;
    margin: 10px;
    font-family: "Monserrat";
    color:#623307;
    font-weight: bold;
    }   

.botonerapro {
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    color: #623307;
    padding: 10px 20px;
 
}

h6 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #623307;
    font-size: 30px ; 
}

/*descproducto fin*/



/*productos y tortas*/

.contenedor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    
 }

.contenedor img{
    width: 100%;
    height:220px;
    margin: 5px;
    border: 2px solid;
    box-shadow: 0 0 0 2px white;
    flex: auto;
}



@media screen and (max-width: 1200px) {
    .contenedor img {
        width: 40%;
    }    
}

@media screen and (max-width: 800px) {
    .contenedor img {
        width: 50%;
    }    
}

@media screen and (max-width: 500px) {
    .contenedor img {
        width: 70%;
    }    
}

@media screen and (max-width: 360px) {
    .contenedor img {
        width: 95%;
    
    }    
}

.h3-producto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.producto-chocolate {
    text-align: center;
    margin: 50px;
}

/*productos y tortas fin*/



cami 