<!DOCTYPE html>
<html lang="es">


    <%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>
    <body class="prod">
      

      
  


    <style>
        h3 {
                font-size: 45px;
          font-family: "Monserrat"; 
          color: white;
          text-decoration: underline solid 2px white;
          }
    </style>


<br><br>
<div class="fotoalmedio">
  <h3 class="inicio">Error 404</h3><br><br><br>
  <img text-align="center" src="/images/giphy.gif" alt="" width="50%" height="100%"> <br><br><br>
  <h3 class="inicio">No hay nada que ver aquí</h3><br><br><br>
</div>  



    
</body>

<%- include('../partials/footer.ejs') %>

</html>