<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head.ejs') , {title: 'Todos los productos'} %>
<body class="prod">
	<!-- Header -->

	
	<%- include('../partials/header.ejs') %>
	<!-- /Header -->
	<h2>Lo sentimos...Usted no tiene permiso para ingresar!!! Te queres matar......Saludos</h2>
	<style>
		h2 {
		  font-size: 50px !important;
		  font-family: "Monserrat" !important; 
		  color: #8e582c !important;
		  text-decoration: underline solid 2px white !important;
		  background-color: #d0ab7a;
		  }
	  </style>
</body>
<%- include('../partials/footer.ejs') %>
</html>
