<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
<body class="prod">
	<!-- Header -->

	
	<h2><i class="fa-solid fa-lock"></i> Usted no tiene permiso para ingresar a esta pagina <i class="fa-solid fa-lock"></i></h2>
		<div class="cinta">
			<img text-align="center" src="/images/cinta.png" alt="" width="25%" height="" align = "center">
		</div>
	<style>
		h2 {
		  font-size: 50px !important;
		  font-family: "Monserrat" !important; 
		  color: #8e582c !important;
		  text-decoration: white !important;
		  background-color: #d0ab7a;
		  text-align: center;
		  }
	  </style>
</body>
<%- include('../partials/footer.ejs') %>
</html>
