<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>

        <body class="prod">
            <ul>
                
                    <h2 class="faq">¿Cuales son los medios de pago?</h2><br>
                    <ol><p class="faqr">Los medios de pago disponibles son:</ol>
                    <ol><p class="faqr">Tarjeta de Credito - Efectivo</p></ol><br><br>
                    
                <h2 class="faq">¿Hacen envios a todo el pais?</h4><br>
                <ol><p class="faqr"> No, solo CABA </p></ol><br><br>
                
                <h2 class="faq">¿Que pasa si no hay nadie cuando entregan el pedido?</h4>
                <ol><p class="faqr">Vuelve a la sucursal</p></ol><br><br>
                
                <h2 class="faq">Quiero cancelar/devolver mi pedido</h4>
               
                <ol><p class="faqr"> No se puede </p></ol>
            </ul>
            <style>
                h3 {
                  font-size: 30px;
                  font-family: "Monserrat"; 
                  color: white;
                  text-decoration: underline solid 2px white;
                  background-color:#90560a !important;
                  }
            </style>
        

        </body>
        <%- include('../partials/footer.ejs') %>

</html>