<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>

        <body class="prod">
            <ul>
                <li>
                    <h3>¿Cuales son los medios de pago?</h3>
                </li>
                <h4> Los medios de pago disponibles son:
                    <li>Tarjeta de Credito</li>
                    <li>Efectivo</li>
                </h4>
                <li>
                    <h3>¿Hacen envios a todo el pais?</h3>
                </li>
                <h4> No solo CABA </h4>
                <li>
                    <h3>¿Que pasa si no hay nadie cuando entregan el pedido?</h3>
                </li>
                <h4> Te jodes y vuelve a la sucursal de origen</h4>
                <li>
                    <h3>Quiero cancelar/devolver mi pedido</h3>
                </li>
                <h4> No se puede </h4>
            </ul>
            <style>
                h3 {
                  font-size: 30px;
                  font-family: "Monserrat"; 
                  color: white;
                  text-decoration: underline solid 2px white;
                  background-color:#90560a !important;
                  }
            </style>
        

        </body>
        <%- include('../partials/footer.ejs') %>

</html>