<!DOCTYPE html>
<html lang="es">


    <%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>
    <body class="prod">

    <h3>Inicio</h3><br><br>
    <style>
        h3 {
                font-size: 45px;
          font-family: "Monserrat"; 
          color: white;
          text-decoration: underline solid 2px white;
          }
        </style>

<div class="fotoalmedio">
  <a href="index"><h2> TODOS LOS PRODUCTOS</h2></a>
  <br>

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
    <div class="fotoalmedio"> 
        <div class="carousel-item active">
          <a href="/productos/Pasteleria"><img text-align="center" src="/images/products/fotoProductoPagInicio.jpeg" alt=""  width="65%"></a>
        </div>
        <div class="carousel-item">
          <a href="/productos/Chocolate"><video
            src="/images/products/production ID_4458593 (1).mp4"
            autoplay="true"
            muted="true"
            loop="true"
            poster=""
            width="70%"
            height="300%"
            ></video></a>
          </div>
        <div class="carousel-item">
          <a href="/productos/Chocolate"><img text-align="center" src="/images/products/P1110019.jpg" alt="" width="65%"></a>
        </div>
        
    
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    

    
</body>

<%- include('../partials/footer.ejs') %>

</html>