<!DOCTYPE html>
<html lang="es">


    <%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>
    <body class="prod">
      

      <h3 class="inicio">Inicio</h3><br><br><br>
  


    <style>
        h3 {
                font-size: 45px;
          font-family: "Monserrat"; 
          color: white;
          text-decoration: underline solid 2px white;
          }
    </style>


<br><br>
<div class="fotoalmedio">
  <a href="index"><h2 class="inicio"> Nuestros Productos</h2></a>
  <br>
    <style>
      h2 {
        font-size: 25px;
        font-family: "Monserrat"; 
        color: white;
        text-decoration: underline solid 2px white;
        background-color: #d0ab7a;
        }
    </style>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
    <div class="fotoalmedio"> 
        <div class="carousel-item active">

          <a href="/index"><video
            src="/images/products/video.mp4"

          <video src="/images/products/video.mp4"

            autoplay="true"
            muted="true"
            loop="true"
            poster=""
            width="60%"
            height=""
            ></video></a>
        </div>
        <div class="carousel-item">
          <video
            src="/images/products/production ID_4458593 (1).mp4"
            autoplay="true"
            muted="true"
            loop="true"
            poster=""
            width="60%"
            height=""
            ></video></a>
          </div>
        
        
    
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>  

<br><br><br>


<div class="asd">
  
  <div class="row">
    <div class="col">
      <h2 class="inicio">Chocolates</h2><br>
      
      <a href="/productos/1"><img text-align="center" src="/images/products/P1110019.jpg" alt="" width="65%" height="100%"></a> 
    </div>
    <div class="col">
      <h2 class="inicio">Pasteleria</h2><br>
      <a href="/productos/2"><img text-align="center" src="/images/products/fotoProductoPagInicio.jpeg" alt=""  width="65%" height="100%"></a>
    </div>
  </div>

    
</body>

<%- include('../partials/footer.ejs') %>

</html>