<!DOCTYPE html>
<html lang="es">


    <%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>
    <body class="prod">
      <form action="../productos/detail" method="GET">
        <input type="text" placeholder="Buscar productos, marcas y más" name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

      <h3>Inicio</h3><br><br><br>

      <form action="../productos/detail" method="GET" class = "barrabusqueda">
        <input type="text" placeholder="Buscar productos" name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form> 


    <style>
        h3 {
                font-size: 45px;
          font-family: "Monserrat"; 
          color: white;
          text-decoration: underline solid 2px white;
          }
    </style>


<br><br>
<div class="fotoalmedio">
  <a href="index"><h2> NUESTROS PRODUCTOS</h2></a>
  <br>
    <style>
      h2 {
        font-size: 25px;
        font-family: "Monserrat"; 
        color: white;
        text-decoration: underline solid 2px white;
        background-color: #d0ab7a;
        }
    </style>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
    <div class="fotoalmedio"> 
        <div class="carousel-item active">
          <a href="/productos/Chocolate"><video
            src="/images/products/video.mp4"
            autoplay="true"
            muted="true"
            loop="true"
            poster=""
            width="70%"
            height="100%"
            ></video></a>
        </div>
        <div class="carousel-item">
          <video
            src="/images/products/production ID_4458593 (1).mp4"
            autoplay="true"
            muted="true"
            loop="true"
            poster=""
            width="70%"
            height="100%"
            ></video></a>
          </div>
        
        
    
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>  


<div class="asd">
  
  <div class="row">
    <div class="col">
      <h2>Chocolates</h2><br>
      
      <a href="/productos/Chocolate"><img text-align="center" src="/images/products/P1110019.jpg" alt="" width="65%" height="100%"></a> 
    </div>
    <div class="col">
      <h2>Tortas</h2><br>
      <a href="/productos/Pasteleria"><img text-align="center" src="/images/products/fotoProductoPagInicio.jpeg" alt=""  width="65%" height="100%"></a>
    </div>
  </div>

    
</body>

<%- include('../partials/footer.ejs') %>

</html>