<!DOCTYPE html>
<html lang="es">


    <%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>
    <body class="prod">

    <h3>Nosotros</h3><br>
    <style>
        h3 {
          font-size: 45px;
          font-family: "Monserrat"; 
          color: white;
          text-decoration: underline solid 2px white;
          padding: 5px;
          }
    </style>

<h1>Integrantes: Alan Serber, Tatiana Goyenechea, Francisco Vilaplana, Camila Caracciolo.</h1>
<style>
    h1 {
      padding: 5px;
      }
</style>
<h3>Descripción de los integrantes del grupo:</h3>
<style>
    h5 {
    font-size: 15px;
    font-family: "Monserrat"; 
    color: #78451a;
    text-align: justify;
    padding: 5px;
      }
</style>
<h5>Camila Caracciolo: Soy Camila, tengo 32 años y vivo en Capital federal. 
    Trabajo en RRHH analizando datos y bases de datos de la Policia de la Ciudad como también nexo 
    entre mi area y sistemas, resolviendo inconvenientes con todos los sistemas de la fuerza. 
    Me gusta encontrar soluciones a cualquiera de los problemas que puedan surgir en el área. 
    Finalice una Tecnicatura Superior en Programacion. 
    Me gusta mucho el mundo de programacion y me gustaria dedicarme a esto. 
    Tengo un conocimiento avanzado de ingles, y buen manejo del paquete Office. Concretamente con Excel.
    <br><br>

Alan Serber: Soy Alan, tengo 38 años, trabajo haciendo soporte técnico para un juego de Android-IOS 
investigando queja y basandome en los registros del juego (logs). 
Tengo un nivel alto en ingles, es mas. He trabajado un total de 5 años haciendo soporte tecnico en ingles 
(2 años y medio por telefono y 2 años y medio por mail), Me encanta la tecnología, 
poder encontrar problemas y encontrar soluciones a esos problemas y aunque no tengo mucha experiencia, 
tengo muchas ganas de desarrollarme en esto. 
En el pasado he realizado un pequeño curso sobre dreamweaver 
pudiendo de esta manera diseñar algunas paginas web utilizando HTML, CSS y Bootrstrap. 
Ademas, soy un amante de la musica y toco la bateria.  <br>
<br>
Francisco Vilaplana: Soy Fran tengo 22 años y vivo en Bs As. No tengo absolutamente ningún 
conocimiento de programación, es un mundo completamente nuevo para mi. 
Así que acá estamos, con muchas ganas de aprender y crecer. 
Me encantaria poder dedicarme en un futuro no muy lejano a el mundo de la programacion. <br>
<br>
Tatiana Goyenechea: Me llamo Tatiana, me gusta la tecnología, los agoritmos, y la programación, 
estoy realizando este curso con muchos sueños por delante, tengo 19 años, 
mi trabajo es de Community Managment, curso que estudié en pandemia. 
Estoy por ingresar el próximo año a la carrera de Ingeniería en Inteligencia Artificial, en UTDT o UDESA, 
estudiando el curso de Full Stack y a su vez English, en el Liceo Cultural Británico, 
tengo experiencia en algunas pymes, y mi gran pasión es bailar estilos urbanos, y femme and heels. <br>

</h5>

<article class="col-12 col-md-6 ">
    <h3>Acá estamos</h3>
    <div class="embed-responsive embed-responsive-16by9 ">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.6947134525153!2d-58.60990784948064!3d-34.58659048036807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb907d2a20ceb%3A0x1f1477de3dbc4d24!2sAv.%20Bernab%C3%A9%20M%C3%A1rquez%202521%2C%20B1657%20Pablo%20Podesta%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1sen!2sar!4v1660317978819!5m2!1sen!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

  </article>

    
</body>

<%- include('../partials/footer.ejs') %>

</html>