<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>
  <%- include('../partials/header.ejs') %>
    <body class="prod">
      <div class="carousel-inner">
        <div class="fotoalmedio"> 
            <div class="carousel-item active">
      
              
              <video src="/images/Mivideo1.mp4"
      
              autoplay="true"
              poster=""
              width="40%"
              height=""
                ></video></a>
            </div>
            
            
            
        
            
          </div>
        </div>
      </div>
      <h3>Nosotros</h3><br>
      <style>
        h3 {
          font-size: 600%;
          font-family: "Montserrat";
          color: white;

          padding: 5px;
        }
      </style>

      <style>
        h1 {
          padding: 5px;
        }
      </style>
      <h5>Integrantes: Alan Serber, Tatiana Goyenechea, Francisco Vilaplana, Camila Caracciolo.</h3><br><br>
        <style>
          h5 {
            font-size: 300%;
            font-family: "Montserrat";
            color: #78451a;
            text-align: center;
            padding: 5px;
          }
        </style>
        <h5>
          <div class="container-fluid">
            <div class="container text-center">
              <div class="row">
                <div class="col">
                  <div class="card" style="width: 40rem;">
                    <img text-align="center" src="/images/cami1.png" alt="" height="50%"></a>
                    <div class="card-body">
                      <p class="nosotros-letras">Camila Caracciolo: Soy Camila, tengo 32 años y vivo en Capital federal.
                        Trabajo en RRHH analizando datos y bases de datos de la Policia de la Ciudad como también nexo
                        entre mi area y sistemas, resolviendo inconvenientes con todos los sistemas de la fuerza.
                        Me gusta encontrar soluciones a cualquiera de los problemas que puedan surgir en el área.
                        Finalice una Tecnicatura Superior en Programacion.
                        Me gusta mucho el mundo de programacion y me gustaria dedicarme a esto.
                        Tengo un conocimiento avanzado de ingles, y buen manejo del paquete Office. Concretamente con
                        Excel.</p>
                    </div>
                  </div>
                </div>
                <br><br>
                <div class="col">
                  <div class="card" style="width: 40rem;">
                    <img text-align="center" src="/images/alan.png" alt=""></a>
                    <div class="card-body">
                      <p class="nosotros-letras">Alan Serber: Soy Alan, tengo 38 años, trabajo haciendo soporte técnico
                        para un juego de Android-IOS
                        investigando queja y basandome en los registros del juego (logs).
                        Tengo un nivel alto en ingles, es mas. He trabajado un total de 5 años haciendo soporte tecnico.
                        Me encanta la tecnología,
                        poder encontrar problemas y encontrar soluciones a esos problemas y aunque no tengo mucha
                        experiencia,
                        tengo muchas ganas de desarrollarme en esto.
                        En el pasado he realizado un curso sobre dreamweaver
                        diseñando algunas paginas web utilizando HTML, CSS y Bootstrap.
                        Ademas, soy un amante de la musica y toco la bateria. </p>
                    </div>
                  </div>
                  <br><br>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid">
          </div>
          </div>
          <div class="container text-center">
            <div class="row">
              <div class="col">
                <div class="card" style="width: 40rem;">
                  <img text-align="center" src="/images/tati.png" alt="" width=""></a> 
                  <div class="card-body">
                    <p class="nosotros-letras">Tatiana Goyenechea: Me llamo Tatiana, me gusta la tecnología, los
                      agoritmos, y la programación,
                      estoy realizando este curso con muchos sueños por delante, tengo 19 años,
                      mi trabajo es de Community Managment, curso que estudié en pandemia.
                      Estoy por ingresar el próximo año a la carrera de Ingeniería en Inteligencia Artificial, en UTDT o
                      UDESA,
                      estudiando el curso de Full Stack y a su vez English, en el Liceo Cultural Británico,
                      tengo experiencia en algunas pymes, y mi gran pasión es bailar estilos urbanos, y femme and heels.
                    </p>
                  </div>
                </div>
              </div>
              <br><br>
              <br><br>
              <div class="col">
                <div class="card" style="width: 40rem;">
                  <img text-align="center" src="/images/fran.png" alt="" height="50%"></a>
                  <div class="card-body">
                    <p class="nosotros-letras">Francisco Vilaplana: Soy Fran tengo 22 años y vivo en Bs As. No tengo
                      absolutamente ningún
                      conocimiento de programación, es un mundo completamente nuevo para mi.
                      Así que acá estamos, con muchas ganas de aprender y crecer.
                      Me encantaria poder dedicarme en un futuro no muy lejano a el mundo de la programacion.</p>
                  </div>
                </div>
              </div>
              <br><br><br>
            </div>
          </div>   
</h5>


  <div class = fotoalmedio>
    <h3>Acá estamos</h3>
    <div class="embed-responsive embed-responsive-16by9 ">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3311.84636028502!2d151.05120281490628!3d-33.893610527777746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12bb83da58bed7%3A0x868a0c317406496!2sSherman%20St%2C%20Greenacre%20NSW%202190%2C%20Australia!5e0!3m2!1ses-419!2sar!4v1664210687154!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>



    
</body>

<%- include('../partials/footer.ejs') %>

</html>