<!DOCTYPE html>
<html lang="en">


    <%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>

    <body class="prod">

    <h3>Ingresar</h3>
    <style>
        h3 {
                font-size: 45px;
          font-family: "Monserrat"; 
          color: white;
          text-decoration: underline solid 2px white;
          }
        </style>

    <main class="login">
        <div class="container-login">
            <form action="/" method="POST">
                <input type="email" name="user" placeholder="email">
                <input type="password" name="pass" placeholder="Contraseña">

                <input type="submit" value="Enviar">
            </form>
        </div>
    </main>

</body>
<br>
<br>
<br><br><br>
<br><br><br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<%- include('../partials/footer.ejs') %>


</html>