<!DOCTYPE html>
<html lang="en">


<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>

        <body class="prod">

            <h3>Registro</h3>
            <style>
                h3 {
                    font-size: 45px;
                    font-family: "Monserrat";
                    color: white;
                    text-decoration: underline solid 2px white;
                }
            </style>


            <main class="register">
                <div class="container-registro">
                    <form action="./registro" method="POST" enctype="multipart/form-data">
                        
                        <input type="text" name="name" placeholder="Nombre" id="nya" required>
                        <input type="text" name="last_name" placeholder="Apellido" id="nya" required>
                        <input type="email" name="email" placeholder="E-mail" id="nya" required>
                        <input type="password" name="password" placeholder="Contraseña" id="nya" required>
                        <input type="file"   name="avatar"  placeholder="Debes eligir tu avatar...">
                        <div class="botonera">
                            <input type="submit" value="Enviar">
                            <input type="reset" value="Borrar">
                        </div>
                    </form>

                    <% if (typeof validaciones != 'undefined') { %>
                        <% validaciones.forEach(( validacion) => { %> 
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong><%= validacion.msg  %> </strong> You should check in on some of those fields below.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
                        <% }) %>
                    <% } %> 

                </div>
                <br>
            </main>
        </body>

        <%- include('../partials/footer.ejs') %>

</html>