<!DOCTYPE html>
<html lang="en">


<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>

        <body class="prod">

            <h3>Registro</h3>
            <style>
                h3 {
                    font-size: 45px;
                    font-family: "Monserrat";
                    color: white;
                    text-decoration: underline solid 2px white;
                }
            </style>


            <main class="register">
                <div class="container-registro">
                    <form action="./registro" method="POST" >
                        
                        <input type="text" name="name" placeholder="Nombre" required>
                        <input type="text" name="last_name" placeholder="Apellido" required>
                        <input type="email" name="email" placeholder="E-mail" required>
                        <input type="password" name="password" placeholder="Contraseña"required>
                        
                        <div class="botonera">
                            <input type="submit" value="Enviar">
                            <input type="reset" value="Borrar">
                        </div>
                    </form>
                </div>
                <br>
            </main>
        </body>

        <%- include('../partials/footer.ejs') %>

</html>