<footer>
    
    
      <div class="footer">

        <div class="container">
            <div class="containerX con1">
                <h4 class="footer-letras">
                 <a href="/nosotros"><i class="fa-solid fa-people-line" ></i></a> Nosotros</h4>
                <p>Calle Falsa 123</p>
               
            </div>
            <div class="containerX con2">
                <h4 class="footer-letras">Politica de Calidad</h4>
                <p>
                    En TENTO asumimos el compromiso de ofrecer productos y servicios de excelencia a nuestros clientes.
                    <br>
                </p>
            </div>
            <div class="containerX con3">
                <h4>Bases y condiciones</h4>

                <p><img src="/images/telefono (2).png" alt="">P. Sherman Calle Wallaby 42 Sidney</p>
                <p><img src="/images/telefono 1.png" alt="">+254 736782638</p>
                <p><img src="/images/telefono 3.png" alt="">onesoft.support@gmail.com</p>

            </div>
            <div class="containerX con4">
                <h4 class="footer-letras">Preguntas frecuentes</h4>
                <ul>
                <li><h5>¿Cuales son los medios de pago?</h5></li>
                <li><h5>¿Hacen envios a todo el pais?</h5></li>
                <li><h5>¿Que pasa si no hay nadie cuando entregan el pedido? - Chau chocolates, se los come Fran</h5></li>
                <li><h5>Quiero cancelar/devolver mi pedido</h5></li>
            </ul>
            </div>
            <div class="containerX con4">
                <h4 class="footer-letras">Redes sociales</h4>
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="https://www.facebook.com/tento.chocolates" target="_blank"><img primerafoto text-align="center"
                            src="/images/products/facebook.png" alt="" height="25px" width="25px"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/tento.chocolates/" target="_blank"><img primerafoto text-align="center"
                            src="/images/products/instagram.png" alt="" height="25px" width="25px"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://api.whatsapp.com/send?phone=541131663482" target="_blank"><img primerafoto text-align="center"
                            src="/images/products/whatsapp.png" alt="" height="25px" width="25px"></a>  
                    </li>
                  </ul>
            </div>
        </div>
        <p class="powered">powered by grupo 7</p>
    </div>


</footer>

