<footer>
    
    
      <div class="footer">

        <div class="container">
            <div class="containerX con1">
                <h4 class="footer-letras"><a href="/nosotros">Nosotros</a></h4>
                <p>Lorem ipsum dolor sit amet <br> consectetur adipisicing elit. At alias <br> quo corrupti reprehenderit ab.</p>
                <div class="social">
                    <div class="soc facebook"></div>
                    <div class="soc twitter"></div>
                    <div class="soc instagram"></div>
                    <div class="soc pinterest"></div> 
                    <div class="soc linkedin"></div> 

                </div>
            </div>
            <div class="containerX con2">
                <h4 class="footer-letras">Politica de Calidad</h4>
                <p>
                    Lorem ipsum dolor sit amet <br> consectetur adipisicing elit. Aperiam <br> voluptate tenetur aliquid optio, <br> labore nisi dolore alias ratione sed unde.
                </p>
            </div>
            <div class="containerX con3">
                <h4>Bases y condiciones</h4>
                <p><img src="marker_outline.png" alt="">77 Mountain park, California, <br>USA</p>
                <p><img src="phone_outline.png" alt="">+254 736782638</p>
                <p><img src="gmail_outline.png" alt="">onesoft.support@gmail.com</p>
            </div>
            <div class="containerX con4">
                <h4 class="footer-letras">Preguntas frecuentes</h4>
                <h4>Monday-Thursday</h4>
                <p>7:30am - 5:00pm</p>
                <h3>Thursday - Friday</h3>
                <p>8:00am - 3:30pm</p>
            </div>
            <div class="containerX con4">
                <h4 class="footer-letras">Redes sociales</h4>
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="https://www.facebook.com/tento.chocolates" target="_blank"><img primerafoto text-align="center"
                            src="/images/products/facebook.png" alt="" height="25px" width="25px"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/tento.chocolates/" target="_blank"><img primerafoto text-align="center"
                            src="/images/products/instagram.png" alt="" height="25px" width="25px"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://api.whatsapp.com/send?phone=541131663482" target="_blank"><img primerafoto text-align="center"
                            src="/images/products/whatsapp.png" alt="" height="25px" width="25px"></a>  
                    </li>
                  </ul>
            </div>
        </div>
        <p class="powered">powered by grupo 7</p>
    </div>


</footer>

