<header>
 

    <nav>

        <a href="/">Inicio</a>
        <% if (!locals.usuarioLogueado) {%>
            <a href="/usuario/registro">Registrate</a>
            <a href="/usuario/login">Acceder</a>

            <%}%>
                <a href="/productos/Chocolate">Chocolates</a>
                <a href="/productos/Pasteleria">Pasteleria</a>
                <a href="/compras">Mis Compras</a>

                <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                <% if (locals.userType) {%>
                    <a href="/admin/administrar">Administrar</a>
                    <%}%>
                        <% if (locals.usuarioLogueado) {%>
                            <a href="/usuario/logout"><i class="fas fa-sign-out-alt"></i></a>
                            <%}%>

                                <% if (locals.usuarioLogueado) { %>
                                    <a href="/usuario/profile"><img
                                            src="/images/usuariosimg/<%= locals.usuarioLogueado.image %>" width="40"
                                            style="border-radius: 100%;"></a>
                                    Hola <%= locals.usuarioLogueado.name %>
                                        </a>

                                        <% } %>

    </nav>

    <section class="textos-header">
        <h1>tentó</h1>
    </section>
    <div class="wave" style="height: 400px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #d0ab7a;"></path>
        </svg></div>

</header>