<!DOCTYPE html>
<html lang="es">


    <%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>
    <body class="prod">


		<div class="cinta">
			<img text-align="center" src="/images/notfound.gif" alt="" width="30%" height="">
		</div>

	<h2>404 Not Found! </h2>
	<style>
		h2 {
		  font-size: 50px !important;
		  font-family: "Monserrat" !important; 
		  color: #8e582c !important;
		  text-decoration: white !important;
		  background-color: #d0ab7a;
		  text-align: center;
		  }
	  </style>
	  
</body>
<%- include('../partials/footer.ejs') %>
</html>
